<div
  class="order-1 flex justify-center flex-wrap md:flex-nowrap pb-3 font-semibold sm:order-none sm:pb-0"
>
  <ng-container *ngFor="let name of players">
    <button
      *ngIf="
        name === active || (active === undefined && name === 'mixwell');
        else buttonActive
      "
      (click)="activeButton(name)"
      class="box-border border border-gray-300 py-1 px-2 bg-gray-200 shadow-polvillo text-[#222] uppercase"
    >
      {{ name }}
    </button>
    <ng-template #buttonActive>
      <button
        (click)="activeButton(name)"
        class="box-border border border-gray-300 py-1 px-2 text-gray-300 uppercase"
      >
        {{ name }}
      </button>
    </ng-template>
  </ng-container>
</div>

<ng-container *ngIf="infoPlayers !== undefined">
  <main
    class="text-gray-300 mt-10 flex flex-col w-full xl:px-52 2xl:px-80 px-8 md:px-32 lg:px-20"
  >
    <h2
      class="md:text-3xl xl:text-4xl text-2xl uppercase md:font-semibold mb-10 text-center text-[#EF2D5E]"
    >
      {{ infoPlayers.name }} configuración
    </h2>
    <div class="flex justify-center mb-5">
      <img
        src="{{ infoPlayers.pathImg }}"
        class="object-cover w-[650px] h-96 object-top rounded-3xl"
        alt=""
        srcset=""
      />
    </div>
    <p *ngFor="let parrafos of infoPlayers.parag" class="mt-4 text-justify">
      {{ parrafos }}
    </p>

    <h2
      class="md:text-xl xl:text-2xl text-xl uppercase md:font-semibold mb-5 mt-10 text-[#EF2D5E]"
    >
      Configuración de raton
    </h2>
    <p class="text-justify">
      {{ infoPlayers.mouseSettings.mouseParag }}
    </p>
    <ul class="list-disc list-inside mt-5">
      <li>
        DPI:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.mouseSettings.DPI
        }}</span>
      </li>
      <li>
        EDPI:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.mouseSettings.EDPI
        }}</span>
      </li>
      <li>
        Sensitivity:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.mouseSettings.Sensitivity
        }}</span>
      </li>
      <li>
        HZ:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.mouseSettings.HZ
        }}</span>
      </li>
      <li>
        Windows Sensitivity:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.mouseSettings.WindowsSensitivity
        }}</span>
      </li>
      <li>
        Scoped Sensitivity:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.mouseSettings.ScopedSensitivity
        }}</span>
      </li>
    </ul>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8271717628756547"
      crossorigin="anonymous"
    ></script>
    <!-- AnunciosSettings -->
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-8271717628756547"
      data-ad-slot="6430621916"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <h2
      class="md:text-xl xl:text-2xl text-xl uppercase md:font-semibold mb-5 mt-10 text-[#EF2D5E]"
    >
      Configuración de video
    </h2>
    <p class="text-justify">
      {{ infoPlayers.videoSettings.videoParag }}
    </p>
    <ul class="list-disc list-inside mt-5">
      <li>
        Resolution:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.Resolution
        }}</span>
      </li>
      <li>
        Ratio:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.Ratio
        }}</span>
      </li>
      <li>
        DisplayMode:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.DisplayMode
        }}</span>
      </li>
      <li>
        RefreshRate:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.RefreshRate
        }}</span>
      </li>
      <li>
        MateriaQuality:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.MateriaQuality
        }}</span>
      </li>
      <li>
        TextureQuality:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.TextureQuality
        }}</span>
      </li>
      <li>
        DetailQuality:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.DetailQuality
        }}</span>
      </li>
      <li>
        UIQuality:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.UIQuality
        }}</span>
      </li>
      <li>
        Vignette:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.Vignette
        }}</span>
      </li>
      <li>
        Vsync:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.Vsync
        }}</span>
      </li>
      <li>
        AntiAliasing:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.AntiAliasing
        }}</span>
      </li>
      <li>
        AnisotropicFilter:
        <span
          class="font-semibold text-gray-1{{
            infoPlayers.videoSettings.AnisotropicFilter
          }}00"
        ></span>
      </li>
      <li>
        ImproveClarity:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.ImproveClarity
        }}</span>
      </li>
      <li>
        Bloom:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.Bloom
        }}</span>
      </li>
      <li>
        Distortion:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.Distortion
        }}</span>
      </li>
      <li>
        FPPShadows:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.videoSettings.FPPShadows
        }}</span>
      </li>
    </ul>
    <h2
      class="md:text-xl xl:text-2xl text-xl uppercase md:font-semibold mb-5 mt-10 text-[#EF2D5E]"
    >
      Periféricos
    </h2>
    <ul class="list-disc list-inside">
      <li>
        Mouse:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Mouse
        }}</span>
      </li>
      <li>
        Keyboard:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Keyboard
        }}</span>
      </li>
      <li>
        Mousepad:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Mousepad
        }}</span>
      </li>
      <li>
        Headset:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Headset
        }}</span>
      </li>
      <li>
        Bungee:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Bungee
        }}</span>
      </li>
      <li>
        Monitor:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Monitor
        }}</span>
      </li>
      <li>
        Microphone:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Microphone
        }}</span>
      </li>
      <li>
        CPU:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.CPU
        }}</span>
      </li>
      <li>
        GPU:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.GPU
        }}</span>
      </li>
      <li>
        RAM:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.RAM
        }}</span>
      </li>
      <li>
        Chair:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Chair
        }}</span>
      </li>
      <li>
        Motherboard:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Motherboard
        }}</span>
      </li>
      <li>
        Webcam:
        <span class="font-semibold text-gray-100">{{
          infoPlayers.gear.Webcam
        }}</span>
      </li>
    </ul>
  </main>
</ng-container>
