<header
  class="flex h-12 2xl:h-20 w-full items-center text-gray-300 justify-between font-semibold border-b-[1px] border-gray-300 mb-12 lg:text-lg"
>
  <div class="h-9 w-24 2xl:w-36">
    <object type="image/svg+xml" data="../../../assets/logo2.svg"></object>
  </div>

  <div class="flex gap-3">
    <a
      routerLink="/miras"
      class="hover:bg-gray-200 hover:text-[#222] hover:shadow-polvillo p-1 rounded-sm"
      >MIRAS</a
    >
    <a
      routerLink="/settings"
      class="hover:bg-gray-200 hover:text-[#222] hover:shadow-polvillo p-1 rounded-sm"
      >PRO SETTINGS</a
    >
  </div>
</header>
